.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  width: 28%;
  border-radius: 8px;
  margin: 20px;
  border-radius: 15px;

  position: relative;
  
}

.card img {
  width: 100%;
  height: auto;

  border-radius: 10px;

  box-shadow:
    2.5px 2.8px 2.7px rgba(0, 0, 0, 0.025),
    6.3px 7.1px 6.9px rgba(0, 0, 0, 0.035),
    12.8px 14.5px 14.2px rgba(0, 0, 0, 0.045),
    26.3px 29.9px 29.2px rgba(0, 0, 0, 0.055),
    72px 82px 80px rgba(0, 0, 0, 0.08);

}

.intro {

  top: 0;
  left: 0;
  height: 80px;

  padding: 6px;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px black;
  bottom: 438px;
  color: #f0f0f0;
  transition: 0.4s;
  position: absolute;
  border-radius: 0 0 10px 10px;

}

.card h1 {
  margin: 10px;
  font-size: 40px;
  color: #f0c033;
}

.intro p {
  margin: 10px;
  font-size: 15px;
  display: none;

  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  padding: 5px;
}

.intro h1 {

  font-size: 1.8vw;
}

/* .card:hover {
  cursor: pointer;
} */

/* .card:hover .intro {
  height: 300PX;
  bottom: 438px;
  background: rgba(0, 0, 0, 0.5);
} */

/* .card:hover p {

  display: block;
} */

.title h1 {
  bottom: 720px;
  padding-top: 50px;
  text-align: center;
  color: #006828;
  font-size: 4vw;
}



@media screen and (max-width: 900px) {

  .card {

    width: 90%;
  }

  .intro h1 {

    font-size: 5vw;
  }

  .intro p {

    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {

  .intro h1 {

    font-size: 4vw;
  }

  .intro p {

    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {

  .intro h1 {

    font-size: 5vw;
  }

  .intro p {

    font-size: 3vw;
  }

  .title h1 {

    font-size: 30px;
  }




}